* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow: hidden;
    width: 100vw;
    /* height: 100vh; */
    background: #d4d4d4;
}

#content {
    width: 370px;
    height: 490px;
    padding: 3px;
    border: 2px dotted #000000d4;
    margin: 25px auto auto auto;
}

canvas {
    image-rendering: pixelated;
}