* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  background-color: #d6d6d6;
}
#nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  background-color: #636363;
  z-index: 10;
}
#nav-list {
  display: none;
  position: fixed;
  right: 0;
  top: 64px;
  background-color: #858585;
  list-style: none;
}
.nav-link {
  font-size: large;
  padding: 2px;
}
.nav-link.odd {
  background-color: #828282;
}
.nav-link.even {
  background-color: #aaaaaa;
}
.page-block {
  display: block;
  height: calc(100vh - 64px);
  width: 100vw;
  overflow: hidden;
}
.textbox {
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  display: block;
  float: left;
}
.imagebox {
  position: relative;
  display: block;
  float: right;
  width: 40%;
  height: 100%;
}
#page-home .textbox {
  top: 35vh;
  transform: translateY(-50%);
  left: 0;
  float: left;
}
#page-portfolio .textbox,
#page-contact .textbox {
  width: 100%;
  top: 0;
  left: 0;
}
#next-page {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: white;
  background-image: url(./img/down_arrow.png);
  z-index: 10;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
#nav-logo {
  height: 56px;
  background-color: white;
  padding: 4px 2px;
  float: left;
  margin: 3.5px;
  border-radius: 10px;
}
#nav-menu {
  height: 56px;
  background-color: white;
  padding: 4px 2px;
  float: right;
  margin: 3.5px;
  border-radius: 10px;
}
